body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #58ACFA;
}
.quem-somos{
    background-color: #D8D8D8;
    color:dimgrey;
}
.margin{
padding-bottom: 50px;
padding-top: 10px;
}

.navbar-brand{
    margin: 5px;
}
.produtos{
    background-color: #c97821;
}
.bg-footer{
    background-color: rgb(71, 71, 71);
    color:white;
}